<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="main-nav">
        <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <div class="main-content">
        <section class="section section-header gallery-header flex">
            <h1 class="page-title text-slide-up">Gallery</h1>
        </section>
        <div class="gallery container gallery-scroll">
            <div class="row">
                <div class="col col-1"><img src="/img/img-01.jpg" class="gallery-img fade-in" alt=""></div>
                <div class="col col-2"><img src="/img/img-02.jpg" class="gallery-img fade-in" alt=""></div>
            </div>
            <div class="row">
                <div class="col col-1"><img src="/img/img-03.jpg" class="gallery-img fade-in" alt=""></div>
                <div class="col col-2"><img src="/img/img-04.jpg" class="gallery-img fade-in" alt=""></div>
            </div>
            <div class="row">
                <div class="col col-1"><img src="/img/img-05.jpg" class="gallery-img fade-in" alt=""></div>
                <div class="col col-2"><img src="/img/img-06.jpg" class="gallery-img fade-in" alt=""></div>
            </div>
            <div class="row">
                <div class="col col-1"><img src="/img/img-07.jpg" class="gallery-img fade-in" alt=""></div>
                <div class="col col-2"><img src="/img/img-08.jpg" class="gallery-img fade-in" alt=""></div>
            </div>
            <div class="row">
                <div class="col col-1"><img src="/img/img-09.jpg" class="gallery-img fade-in" alt=""></div>
                <div class="col col-2"><img src="/img/img-10.jpg" class="gallery-img fade-in" alt=""></div>
            </div>
            <div class="row">
                <div class="col col-1"><img src="/img/img-11.jpg" class="gallery-img fade-in" alt=""></div>
                <div class="col col-2"><img src="/img/img-12.jpg" class="gallery-img fade-in" alt=""></div>
            </div>
            <div class="row">
                <div class="col col-1"><img src="/img/img-13.jpg" class="gallery-img fade-in" alt=""></div>
                <div class="col col-2"><img src="/img/img-14.jpg" class="gallery-img fade-in" alt=""></div>
            </div>
            <div class="row">
                <div class="col col-1"><img src="/img/img-15.jpg" class="gallery-img fade-in" alt=""></div>
                <div class="col col-2"><img src="/img/img-16.jpg" class="gallery-img fade-in" alt=""></div>
            </div>
            <div class="row">
                <div class="col col-1"><img src="/img/img-17.jpg" class="gallery-img fade-in" alt=""></div>
                <div class="col col-2"><img src="/img/img-18.jpg" class="gallery-img fade-in" alt=""></div>
            </div>
        </div>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
    <script src="/js/parallax.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>