<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,900" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="main-nav">
        <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <div class="main-content">
        <section class="section section-header flex">
            <h1 class="page-title text-slide-up">Home</h1>
            <p class="black-blur">Welcome <span class="black-blur">Stranger</span></p>
        </section>
        <section class="section section-gallery">

        </section>
        <section class="section section-about">

        </section>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>