@import "_variables";

body {
    font-size: 18px;
    font-family: $font-primary, sans-serif;
}

/* color: #EFC864;
-webkit-text-fill-color: transparent;
background: -webkit-linear-gradient(left, #62502C 0%, #EFC864 50%, #62502C 100%);
-webkit-background-clip: text;
background: -o-linear-gradient(transparent, transparent);
display: inline-block; */